<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ColdRing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ColdRing.Properties.Settings>
            <setting name="GridColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="GridSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GridStyle" serializeAs="String">
                <value>Dash</value>
            </setting>
            <setting name="MainGridColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="MainGridSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MainGridStyle" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="DemonColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SandroColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="isDemonColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isSandroColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Backcolor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="WallColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ImgDemon" serializeAs="String">
                <value />
            </setting>
            <setting name="ImgSandro" serializeAs="String">
                <value />
            </setting>
            <setting name="VisibleGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Zoom" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </ColdRing.Properties.Settings>
    </userSettings>
</configuration>