* {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    font-family: 'Khula', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    text-align: center;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    transition: margin 0.5s ease-out;
    background: linear-gradient(90deg, #810016 0%, #310000 100%);
}

.screen.up {
    margin-top: -100vh;
}

.start {
    padding: 10px 20px;
    cursor: pointer;
}

.game-desk {
    width: 750px;
    height: 750px;
    background: #be3636;
}